
  @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
    font-family: 'Edu SA Beginner', cursive;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    
}

section h2 {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}

h2{
    font-family: 'Edu SA Beginner', cursive;
}
#inicio{
    text-align: center;
}

#integrantes{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
#integrantes li{
    text-align: left;
}

/* #integrantes ul{
    text-align: center;
} */

#musicas{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #musicas ol{
   text-align: center;
} */

/* #musicas li{
    text-align: center;
    width: fit-content;
 } */

 #musicas ol {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato{
    text-align: center;
}

.header{
    display: flex;
    flex-flow: row wrap ;
    background: white;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}