@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lumanosimo&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Dancing +Script:wght@400;500;600;700 & display=swap');

.imggaleria {
    display: flex;
    margin: 0;
    padding: 0;
    padding: 0 4rem;
    max-width: 2000px;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 5.5%;
    margin-right: 4%;
}

.imggaleria div {
    flex-basis: calc((100% / 4) - 1rem)
}

.imggaleria div img {
    width: 100%;
    max-width: unset !important;
}

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180f4a, #090422, black);
    text-align: center;
    border-top: solid #ff2978;
}

.logo-rodape {
    padding: 100px;
}

.Agencia {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 34px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-flow: row wrap;
    background: white;
    justify-content: center;
    align-items: center;
    row-gap: 150px;
}